<%- include('partials/head', { title: 'All Transactions' }) %>
<h1>Transactions</h1>
<%- include('partials/filterForm', {
  basePath: '/transactions',
  yearsList,
  categoriesList: allCategories,
  year,
  month,
  category,
  dateFrom,
  dateTo,
  amountMin,
  amountMax
}) %>
<%- include('partials/bulkActionsForm', {
  basePath: '/transactions',
  allCategories
}) %>
<%- include('partials/transactionList', {
  transactions,
  totalCount,
  totalPages,
  currentPage,
  allCategories,
  currency,
  basePath: '/transactions'
}) %>
<%- include('partials/footer') %>
<%- include('partials/categoryEditorScript') %>